@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-gradient-to-b from-chocolate-500/80 to-chocolate-400/80 text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

select {
  background: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}